.main{
  background-color: rgba(25,25,25,0.6);
}

.page{
  background-color: rgba(25,25,25,0.6);
}

#home{
  background-color: rgba(25,25,25,0.6);
}

body{
  background: url("../img/alert.png");
}


.buttonFinal {
  border: solid 1.5px rgba(255,255,255,0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 13px;
  display: inline;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}
.row, .feature-box-container{
  padding-bottom: 40px;
}
#team{
  background: rgba(56, 82, 99,0.6);
}

.title{
  margin-top:-70px;
}




@media (min-width: 768px) {
  .title{
    height: 90px;
  }
}
