.main{
  background-color: rgba(25,25,25,0.9);
}

.page{
/*  background-color: rgba(76, 255, 0, 0.9);*/
}

#home{
  background-color: rgba(241, 196, 15,0.2);
}

body{
  background: url("../img/unnamed.png");
}


.buttonFinal {
  border: solid 1.5px rgba(255,255,255,0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 13px;
  display: inline;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}
.row, .feature-box-container{
  padding-bottom: 40px;
}
#team{
  background: rgba(255, 216, 0, 0.5);
}

.title{
  margin-top:-10px;
  max-width:75%;
  height:auto;
}
